<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>
    <%- include('includes/navbar') %>
    <%if (user && user.admin == true) {%>
    <%if (carta) {%>
        <form class="center" action="/cards/edita" method="post">
                <table class="bordered" style="margin: auto; height: 250px; width: 175px; background-color: #555;"">
                <input type="hidden" name="id" value="<%=carta.id%>">
            <tr style="height: 5%">
                <% if (carta.tipo == 'Criatura') {%>
                    <td class='left' style='color:white;'>
                        C<input type="radio" name="tipo" value="Criatura" checked>|F<input type="radio" name="tipo" value="Feitico">
                    </td>
                <%} else {%>
                    <td>
                        C<input type="radio" name="tipo" value="Criatura">|F<input type="radio" name="tipo" value="Feitico" checked>
                    </td>
                <%}%>
            <td class='right' style="color: yellow;">G <input class='center' style="width:15%" type="text" name="preco" value="<%=carta.preco%>"></td></tr>

            <tr style="height: 25%;"><td colspan="2" class='bordered center'"><input class='center' type="text" name="nome" value="<%=carta.nome%>"></td></tr>
            <tr style="height: 10%;"><td class='bordered left 'style="color:greenyellow; width=50%"><input class='center' style="width: 20%;" type="text" name="hp" value="<%=carta.hp%>"> HP</td><td class='bordered right' style="color:red; width: 50%;">ATK <input class='center' style="width: 20%;" type="text" name="atk" value="<%=carta.atk%>"></td></tr>
            <tr style="height: 60%;"><td colspan='2' class='center bordered'"><input class='center' type="text" name="descricao" value="<%=carta.descricao%>"></td></tr>
            </table>
            <label for="efeito">Efeito: </label><input type="text" name="efeito" value="<%=carta.efeito.join('; ')%>" placeholder="separar com ;"><br>
            <label for="efeito">Trigger: </label><input type="text" name="trigger" value="<%=carta.trigger.join('; ')%>" placeholder="separar com ;"><br>
            <input type="submit" value="Editar">
        </form>
        <%} else {%>
            <form class='center' action="/cards/cria" method="post">
                <table class="bordered" style="margin: auto; height: 250px; width: 175px; background-color: #555;"">
                <tr style="height: 5%">
                <td class='left' style='color:white;'>
                C<input type="radio" name="tipo" value="Criatura">|F<input type="radio" name="tipo" value="Feitico">
                </td>
                <td class='right' style="color: yellow;">G <input class='center' style="width:15%" type="text" name="preco" ></td></tr>
    
                <tr style="height: 25%;"><td colspan="2" class='bordered center'"><input class='center' type="text" name="nome"></td></tr>
                <tr style="height: 10%;"><td class='bordered left 'style="color:greenyellow; width=50%"><input class='center' style="width: 20%;" type="text" name="hp" > HP</td><td class='bordered right' style="color:red; width: 50%;">ATK <input class='center' style="width: 20%;" type="text" name="atk" ></td></tr>
                <tr style="height: 60%;"><td colspan='2' class='center bordered'"><input class='center' type="text" name="descricao"></td></tr>
                </table>
            <label for="efeito">Efeito: </label><input type="text" name="efeito" placeholder="separar com ;"><br>
        <label for="efeito">Trigger: </label><input type="text" name="trigger" placeholder="separar com ;"><br>
        <input type="submit" value="Criar">
    </form>
    <%}} else {%>
    <script type="text/javascript">
        window.location.href = "/"
    </script>    
    <%}%>
