<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>
<style>
    table,tr {
        border: 1px black solid;
        border-collapse: collapse;
    }
</style>
<body>

    <%- include('includes/navbar') %>   
    <br>
    <h1 class="center">Jogadores:</h1>
    <br>
    <h2>
        <table style="width: 100%;">
            <% for(let i=0; i < outrosUsers.length; i++) {%>
            <tr>
                <td><a class='nonlink' href="/perfil/<%= outrosUsers[i].id %>"><%= outrosUsers[i].nome%><sub>[<%=outrosUsers[i].vitorias%> / <%=outrosUsers[i].derrotas%>]</sub></a>
                    <a class='nonlink' href="index?por=nomeAsc">▴</a><a class='nonlink' href="index?por=nomeDesc">▾</a></td>
                <td style=" width: 50%;">Cadastro em: <%=outrosUsers[i].data.charAt(6)+outrosUsers[i].data.charAt(7)+"/"+outrosUsers[i].data.charAt(4)+outrosUsers[i].data.charAt(5)+"/"+outrosUsers[i].data.charAt(0)+outrosUsers[i].data.charAt(1)+outrosUsers[i].data.charAt(2)+outrosUsers[i].data.charAt(3)%>
                    <a class='nonlink' href="index?por=dataAsc">▴</a><a class='nonlink' href="index?por=dataDesc">▾</a></td>
                <td><a class='nonlink' href="/" style="float:right;">⚔️</a></td>
            </tr>
            <%}%>
        </ul>
    </h2> 