<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <div class="sidebar">
        <h3>Organizar por:</h3>
        Nome <a class='nonlink' href="lista?por=nomeAsc">▴</a>
        <a class='nonlink' href="lista?por=nomeDesc">▾</a><br>
        Data <a class='nonlink' href="lista?por=dataAsc">▴</a>
        <a class='nonlink' href="lista?por=dataDesc">▾</a><br>
        HP <a class='nonlink' href="lista?por=hpAsc">▴</a>
        <a class='nonlink' href="lista?por=hpDesc">▾</a><br>
        ATK <a class='nonlink' href="lista?por=atkAsc">▴</a>
        <a class='nonlink' href="lista?por=atkDesc">▾</a><br>
        Preço <a class='nonlink' href="lista?por=precoAsc">▴</a>
        <a class='nonlink' href="lista?por=precoDesc">▾</a>
      </div>
    <table style="margin: auto;">
    <tr>
        <% for(let i=0; i<cartas.length; i++) {%>
            <%if (i%5 == 0 && i!=0) {%>
            </tr><tr>
            <%}%>
            <td  class="bordered">
            <table style="height: 250px; width: 175px; background-color: #555;" class="bordered">
                <tr style="height: 5%;">
                    <%if (cartas[i].tipo == "Criatura") {%>
                        <td class='left' style='color:white;'><b>C</b></td>
                    <%} else {%>
                        <td class='left' style='color:white;'><b>F</b></td>
                    <%}%>
                        <td class='right' style="color: yellow;">G <%=cartas[i].preco%></td></tr>
                    
                <tr style="height: 25%;"><td colspan="2" class='bordered center'"><%=cartas[i].nome%>
                <%if (user.admin == true) {%>
                    <a class="nonlink" href="/cards/detalhar?id=<%=cartas[i].id%>">✏️</a>
                <%}%>
                </td></tr>
                <tr style="height: 10%;"><td class='bordered left 'style="color:greenyellow; width=50%"><%=cartas[i].hp%> HP</td><td class='bordered right' style="color:red; width: 50%;">ATK <%=cartas[i].atk%></td></tr>
                <tr style="height: 60%;"><td colspan='2' class='center bordered'"><%=cartas[i].descricao%></td></tr>
            </table>
            </td>
            <%}%>
    </tr>
    </table>
    <h1 class="center"><%if (user.admin == true) {%>
        <a class='nonlink' href="/cards/detalhar">➕</a>
        <%}%>
    </h1>